<%# 

<table>
<thead>
  <tr>
    <th>request date:</th>
    <th>remote ip:</th>
    <th>request-method:</th>
    <th>scheme:</th>
    <th>query-string:</th>
    <th>query-params:</th>
    <th>cookies:</th>
    <th>headers:</th>
    <th>trap_id:</th>
  </tr>
  </thead>
  <%= render partial: 'requests/request', collection: @requests %>
  
<%# </table> %>

<table>
<tr>
  <th>trap_id:</th>
  <th>request date:</th>
  <th>remote ip:</th>
  <th>request-method:</th>
  <th>scheme:</th>
  <th>query-string:</th>
  <th>query-params:</th>
  <th>cookies:</th>
  <th>headers:</th>
  </tr>

  <%= render partial: 'requests/request', collection: @requests %>

</table>
