<div class="instructions">
<p id="notice"><%= notice %></p>

<h1>Instructions</h1>

<p>
  The app has three routes:
</p>
<ul>
  <li> / (splash page with some instructions)</li>
  <li>/:trap_id (<a href="<%= rand(999) %>" >send requests</a> to be captured here) </li>
  <li> /:trap_id/requests (display requests here)</li>
</ul>
<p>
  Any request [POST, PUT, GET, DELETE, ...] made to /:trap_id will be saved in the db and displayed in /:trap_id/requests. (meens this route should process any type of request).
</p>
<p>
  In response to any request made to /:trap_id, we will respond with the correct http code if success or not. Normally your API will always respond success except internal errors that should not occur in fine working program. The body on the response should be blank.
</p>
<p>
  In /:trap_id/requests we should see the trap_id in the header, and a list of the received requests, ordered by creation date DESC.
</p>
<p>Each request item should display all the information contained in the request, well formatted:</p>
<ul>
  <li> - request date</li>
  <li> - remote ip</li>
  <li> - request-method</li>
  <li> - scheme</li>
  <li> - query-string </li>
  <li> - query-params </li>
  <li> - cookies </li>
  <li> - headers </li>
</ul>
</div>
