
<table>
  <colgroup>
    <col span="8" style="background:Khaki">
  </colgroup>
  <tr>
    <th>body:</th>
    <th>method:</th>
    <th>cookies:</th>
    <th>headers:</th>
    <th>trap_id:</th>
    <th>date:</th>
  </tr>
  </tr>
    <%= render @requests %>
</table>

